[Desktop Entry]
Name = uPdf
GenericName = uPdf
Comment = an application to write to pdf
Exec = /usr/bin/updf
Icon = /usr/share/updf/icons/updf.svg
Type = Application
Terminal = false
StartupNotify = true
Encoding = utf-8
Categories = Utility;
Name[eu] = uPdf
Name[cs] = uPdf
Name[zh_CN] = uPdf
Name[sk] = uPdf
Name[ca] = uPdf
Name[es] = uPdf
Name[eo] = uPdf
Name[de] = uPdf
GenericName[eu] = uPdf
GenericName[cs] = uPdf
GenericName[zh_CN] = uPdf
GenericName[sk] = uPdf
GenericName[ca] = uPdf
GenericName[es] = uPdf
GenericName[eo] = uPdf
GenericName[de] = uPdf
Comment[eu] = pdf-ak editatzeko aplikazioa
Comment[cs] = Program pro zapisování do PDF
Comment[zh_CN] = 一款可以写入 pdf 的应用程序
Comment[sk] = Program pre zapisovanie do PDF
Comment[ca] = an application to write to pdf
Comment[es] = una aplicación para escribir en PDF
Comment[eo] = an application to write to pdf
Comment[de] = an application to write to pdf
